.table {
  width: 100%;
}

.table-headers {
  text-align: left;
}

.table-row {
  background: var(--CARD_BG);
  font-family: monospace;
}

.table-row:nth-child(odd) {
  background: var(--CONTENT_BG);
}

.table-row td {
  padding: 0.5em;
}

.justify-between {
  display: flex;
  justify-content: space-between;
}

.title-wrapper {
  position: relative;
}

.title {
  grid-column-start: 2;
}

.card-title {
  margin: 0 0 1rem 0;
}

.amount {
  width: 100%;
  margin: 0;
}

.amount-wrapper {
  display: flex;
  flex-direction: row;
  gap: 5px;
  margin-bottom: 1rem;
}

.name-cell {
  width: 40%;
}

.btn-cell {
  width: 1%;
  white-space: nowrap;
}

.btn-wrapper {
  width: fit-content;
  display: flex;
  gap: 5px;
}

.checkbox-wrapper {
  position: relative;
  user-select: none;
  width: 21px;
  height: 21px;
  cursor: pointer;
}

.checkbox-wrapper input {
  position: absolute;
  height: 100%;
  width: 100%;
  margin: 0;
}

.checkbox {
  border: var(--BUTTON_BORDER);
  background: var(--YELLOW);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.checkbox-wrapper:hover input ~ .checkbox {
  filter: brightness(0.9);
}

.checkbox:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox-wrapper input:checked ~ .checkbox:after {
  display: block;
}

.checkbox-wrapper .checkbox:after {
  left: 6px;
  top: 2px;
  width: 7px;
  height: 13px;
  border: solid rgb(0, 0, 0);
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.increment,
.decrement,
.send,
.enable {
  border: 1px solid black;
  cursor: pointer;
}

.increment {
  background: var(--SUCCESS_GREEN);
}

.decrement {
  background: var(--DANGER_RED);
}

.send {
  display: block;
  background: var(--YELLOW);
  margin: 0.5rem 2px 0 auto;
}

.enable {
  background: var(--BLUE);
}
