.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5px;
}

.card {
  background: var(--CARD_BG);
  padding: 0.5rem;
  box-shadow: var(--BOX_SHADOW);
}

.title-wrapper {
  position: relative;
}

.title {
  grid-column-start: 2;
}

.add-btn {
  position: absolute;
  display: grid;
  place-items: center;
  width: 30px;
  line-height: 0;
  aspect-ratio: 1 / 1;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-weight: bold;
  border-radius: 3px;
  cursor: pointer;
}

.add-btn:hover {
  background: var(--CARD_BG);
}

.card-title {
  margin: 0 0 1rem 0;
}

.amount {
  width: 100%;
  margin: 0;
}

.amount-wrapper {
  display: flex;
  flex-direction: row;
  gap: 5px;
  margin-bottom: 1rem;
}

.btn-wrapper {
  width: 100%;
  display: flex;
  gap: 5px;
}

.increment,
.decrement,
.send,
.enable {
  width: 100%;
  border: 1px solid black;
  cursor: pointer;
}

.increment {
  background: var(--SUCCESS_GREEN);
}

.decrement {
  background: var(--DANGER_RED);
}

.send {
  background: var(--YELLOW);
}

.enable {
  background: var(--BLUE);
}
