.ontheway-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5px;
}

.ontheway-card {
  background: var(--CARD_BG);
  padding: 0.5rem;
}

.ontheway-card p {
  margin: 0;
}

.ontheway-hasarrived-btn{
  background: var(--SUCCESS_GREEN);
  cursor: pointer;
  margin-top: 0.5rem;
  border: 1px solid black;
  padding: 0.2rem 0.5rem;
}