.content-center {
  padding: 1rem;
}

.content-center-title-wrapper {
  position: relative;
}

.content-center-title {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  margin: 0 0 1rem 0;
}

.content-center-add-btn {
  position: absolute;
  padding: 0.5rem 1rem;
  margin: 0;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  cursor: pointer;
  font-weight: bold;
  border-radius: 5px;
}

.content-center-add-btn:hover {
  background: var(--SECTION_BG);
}

.content-center-containers {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.content-center-container {
  background-color: var(--SECTION_BG);
  padding: 1rem;
  border-radius: 5px;
}

.content-center-container-title {
  text-align: center;
  margin: 0 0 1rem 0;
  font-weight: bold;
}
