.content-center-title-wrapper {
  position: relative;
}

.content-center-title {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  margin: 0 0 1rem 0;
}

.content-center-containers {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.content-center-container {
  background-color: var(--SECTION_BG);
  padding: 1rem;
  border-radius: 5px;
}

.content-center-container-title {
  text-align: center;
  margin: 0 0 1rem 0;
  font-weight: bold;
}
