.content-left-locations-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.icon-wrapper {
  height: 40px;
  display: flex;
  gap: 1rem;
}

.icon {
  height: 100%;
  aspect-ratio: 1 / 1;
  cursor: pointer;
}
