.content-left {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content-left-locations-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.content-left-location {
  background: #bbbbbb;
  padding: 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.content-left-expand-button {
  cursor: pointer;
  width: 20px;
  text-align: center;
}

.content-left-location-title-wrapper {
  font-weight: bold;
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.content-left-location-title {
  margin: 0;
}

.content-left-expanded-categories-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 7px;
}

.content-left-expanded-categories {
  cursor: pointer;
  margin: 0 0 0 3rem;
  padding: 0.2rem;
}

.content-left-add-location-wrapper {
  border-radius: 5px;
  cursor: pointer;
  padding: 1rem;
  display: flex;
  justify-content: center;
}

.content-left-add-location-wrapper:hover {
  background: #cccccc;
}

.content-left-add-location-text {
  margin: 0;
}
