.content-left-locations-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.icon-wrapper {
  height: 46px;
  display: flex;
  gap: 5px;
}

.icon,
.refresh {
  padding: 5px;
  height: 100%;
  aspect-ratio: 1 / 1;
  cursor: pointer;
  border-radius: 5px;
}

.refresh {
  margin-left: auto;
}

.icon:hover,
.refresh:hover {
  background: var(--CARD_BG);
}
