*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --CONTENT_BG: #d9d9d9;
  --SECTION_BG: #cccccc;
  --CARD_BG: #bbbbbb;
  --DANGER_RED: #b86a6a;
  --SUCCESS_GREEN: #519c45;
  --BLUE: #6AAAB8;
  --YELLOW: #B8B06A;

  --TOP_BAR_HEIGHT: 5vh;
  --INPUT_HEIGHT: 32px;
  --BUTTON_BORDER: 1px solid #000;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

main {
  min-height: calc(100vh - var(--TOP_BAR_HEIGHT));
  display: grid;
  place-items: center;
  padding: 1rem;
}

.content-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.content-left,
.content-center,
.content-right {
  background: var(--CONTENT_BG);
  height: 100%;
  width: 100%;
  padding: 1rem;
}

.content-left {
  position: absolute;
  left: calc(-100% - 1rem);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: left 0.2s;
  max-width: 400px;
}

.content-left-open{
  left: 0;
  filter: brightness(0.9);
  z-index: 1;
}

.content-right {
  display: none;
}

@media screen and (min-width: 1180px) {
  .content-wrapper {
    width: 100%;
    height: 100%;
    max-width: 1600px;
    display: grid;
    grid-template-columns: 2fr 5fr 2fr;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }

  .content-left {
    position: initial;
  }

  .content-right {
    display: initial;
  }
}
