.overlay {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  display: grid;
  place-items: center;
}

.add-box {
  background: var(--CONTENT_BG);
  width: min(600px, 100%);
  min-height: 500px;
  padding: 1rem;
  border-radius: 5px;
}

.add-container {
  width: min(500px, 100%);
  margin: 0 auto;
}

.input {
  display: inline-block;
  width: 100%;
  height: var(--INPUT_HEIGHT);
}

.title {
  font-weight: bold;
  font-size: 1.5rem;
  margin: 0 0 2rem 0;
  text-align: center;
}

.btn-wrapper{
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

.cancel,
.confirm {
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  background: var(--SUCCESS_GREEN);
}

.cancel {
  background: var(--DANGER_RED);
}
